<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.park.myapplication" >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >

        <activity android:name=".Splash"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name=".LockScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AppsListActivity" >
        </activity>

        <activity
            android:name=".SettingActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".SettingAlertActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".ReservActivity" >
        </activity>

        <activity
            android:name=".ReservAddActivity" >
        </activity>

        <activity
            android:name=".AlertModeActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <service
            android:name=".ScreenService" >
        </service>

        <receiver
            android:name=".BootReceiver"
            android:exported="false" >
            <!--android:enabled="true"-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmStartReceiver" />
        <receiver android:name=".AlarmStopReceiver" />
        <receiver android:name=".AlertAlarmReceiver" />

    </application>

</manifest>