<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soma.park.myapplication" >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/lock_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".Activities.LockScreenActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar" >

        <activity android:name=".Activities.Splash" />
        <activity android:name=".Activities.AccessTerms" />
        <activity android:name=".Activities.TutorialActivity" />

        <activity
            android:name=".Activities.LockScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AppsListActivity" />
        <activity android:name=".Activities.PasswordActivity" />
        <activity android:name=".Activities.SettingActivity"
            android:theme="@style/PreferencesTheme"/>
        <activity android:name=".Activities.Setting" />
        <activity android:name=".Activities.SettingAlertActivity" />
        <activity android:name=".Activities.SettingBreakActivity" />
        <activity android:name=".Activities.SettingBrowserActivity" />
        <activity android:name=".Activities.ReservActivity" />
        <activity android:name=".Activities.ReservAddActivity" />
        <activity android:name=".DeviceAdmin.SetDeviceAdmin" />
        <activity android:name=".Observer.AppList" />
        <activity android:name=".Activities.StudyBrowser"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Activities.AlertModeActivity"
            android:theme="@style/OverlayDialog">
        </activity>

        <service android:name=".Services.ScreenService" />

        <receiver
            android:name=".Receivers.BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DeviceAdmin.PreventDeleteDeviceAdminReceiver"
            android:label="Prevent Delete"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/prevent_delete_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Receivers.AlarmStartReceiver" />
        <receiver android:name=".Receivers.AlarmStopReceiver" />
        <receiver android:name=".Receivers.AlertAlarmReceiver" />
        <receiver android:name=".Receivers.BreakAlarmReceiver" />
        <receiver android:name=".Receivers.StudyAlarmReceiver" />
        <receiver android:name=".Receivers.NowStartReceiver" />
        <receiver android:name=".Receivers.NowStopReceiver" />
        <receiver android:name=".Receivers.DailyReceiver" />

    </application>

</manifest>