<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soma.park.myapplication" >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/lock_icon"
        android:label="@string/app_name"
        android:manageSpaceActivity="com.soma.park.myapplication.LockScreenActivity"
        android:theme="@android:style/Theme.Black.NoTitleBar" >

        <activity android:name="com.soma.park.myapplication.Splash" />
        <activity android:name="com.soma.park.myapplication.AccessTerms" />

        <activity
            android:name="com.soma.park.myapplication.LockScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.soma.park.myapplication.AppsListActivity" />
        <activity android:name="com.soma.park.myapplication.Activities.PasswordActivity" />
        <activity android:name="com.soma.park.myapplication.SettingActivity" />
        <activity android:name="com.soma.park.myapplication.SettingAlertActivity" />
        <activity android:name="com.soma.park.myapplication.SettingBreakActivity" />
        <activity android:name="com.soma.park.myapplication.ReservActivity" />
        <activity android:name="com.soma.park.myapplication.ReservAddActivity" />
        <activity android:name="com.soma.park.myapplication.Observer.AppList" />
        <activity android:name="com.soma.park.myapplication.StudyBrowser"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.soma.park.myapplication.AlertModeActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <service android:name="com.soma.park.myapplication.ScreenService" />

        <receiver
            android:name="com.soma.park.myapplication.BootReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.soma.park.myapplication.DeviceEventReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="Device Event Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.soma.park.myapplication.AlarmStartReceiver" />
        <receiver android:name="com.soma.park.myapplication.AlarmStopReceiver" />
        <receiver android:name="com.soma.park.myapplication.AlertAlarmReceiver" />
        <receiver android:name="com.soma.park.myapplication.BreakAlarmReceiver" />
        <receiver android:name="com.soma.park.myapplication.StudyAlarmReceiver" />

    </application>

</manifest>